.greenbox {
  position: relative;
  width: fit-content;
  height: fit-content;
  background: linear-gradient(30deg, #15181b 50%, #323c17);
  overflow: hidden;
  border-radius:20px 20px 0 0;
  padding: 150px 100px 0px 100px;
}
.greenbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      rgba(255, 255, 255, 0.05) 25%,
      rgba(255, 255, 255, 0.05) 26%,
      transparent 27%,
      transparent 74%,
      rgba(255, 255, 255, 0.05) 75%,
      rgba(255, 255, 255, 0.05) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(255, 255, 255, 0.05) 25%,
      rgba(255, 255, 255, 0.05) 26%,
      transparent 27%,
      transparent 74%,
      rgba(255, 255, 255, 0.05) 75%,
      rgba(255, 255, 255, 0.05) 76%,
      transparent 77%,
      transparent
    );
  background-size: 100px 100px;
  z-index: 1;
}

#grid {
  position: relative;
  z-index: 2;
  background-color: transparent;
  width: 100%;
  height: 100%;

}

.bidder {
  width: fit-content;
  height: fit-content;
  background: white;
  border-radius: 5%;
  padding: 5%;
  color: gray;
  justify-content: center;
  align-items: center;
}
.pic1 {
  border-radius: 5%;
  width: 250px;
  height: 250px;
}
.picdesc {
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-between;
  padding: 4%  2%;
}
.v1 {
  border-left: 1.5px solid gray;
  height: 30px;
  margin-top: 5%;
}
.cost {
  color: black;
  font-weight: bold;
  line-height: 250%;
}
.timer {
  background-color: white;
  width: fit-content;
  height: fit-content;
  align-items: center;
  padding: 2% 28%;
  margin: 15% 10% 60% 0%;
  border-radius: 15px;
}
.countdown {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2em;
}
.colon {
  margin: 5% 15%;
  color: gray;
}
.countdown-item {
  display: inline;
}

.countdown-number {
  margin: 0%;
  font-size: 1.3em;
}
.countdown-label {
  color: gray;
  font-size: 0.55em;
  margin: 0%;
}

@media (max-width: 800px) {
  .greenbox{
    /* width: 100%; */
    margin-right:15%;
    /* padding: 17% 25%; */
  }
}
@media (min-width: 1400px) {
  .timer {
    margin: 15% 10% 29% 0%;
  }
}